.header{
    display: flex;
    justify-content:space-between;
    background-color:red;
}
h1{
    color:wheat; 
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
a{
    font-size: 23px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    background-image: url("./Background.jpg");
}
.item p{
   background-color: yellow;
}